.OLD {
    color: red;
}

.NEW {
    color: blue;
}

.design > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.dtsel {
    font-size: larger;
    font-weight: bold;
    color: blue;
}

.sec {
    margin-top: 60px;
}